*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main:#F4B400;
    --secondry:#111111;
    --text:#050100;
    --secondry-text:#fff;
  }

#About_main{
    display: flex;
    flex-direction: row;
    width:100%;
    height : calc(100vh - 72px);
}

#About_main #right{
    display: flex;
    align-items: center;
    width:40%;
    height:100%;
}

#About_main #right img{
    width:80%;
    height:50%;
    z-index: -1;
}

#About_main #left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:60%;
    height:100%;
    padding: 4rem;
    z-index: -1;
}


#About_main #left h1{
    display: inline-block;
    font-size: 3rem;
    color:var(--text);
    font-weight: 700;
}

#About_main #left h1 span{
    color:var(--main);
}

#About_main #left p{
    display: inline-block;
    text-align: justify;
    font-size: 1.5rem;
    color:var(--text);
    font-weight: 300;
    padding-top: 1rem;
}


#About_main #left p span{
    color:var(--main);
    font-size: 2rem;
    font-weight: 700;
}



@media screen and (max-width:1024px){
    html{
        font-size: 85%;
    }
    #About_main #left h1{
        font-size: 2.6rem;
    }

    #About_main #left p{
        font-size: 1.4rem;
    }
    
    
    #About_main #left p span{
        font-size: 1.8rem;
    }
}


@media screen and (max-width:900px){
    html{
        font-size: 70%;
    }
    #About_main #left h1{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:680px){
    #About_main{
        flex-direction: column-reverse;
    }

    #About_main #right{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    #About_main #right .img{
        position: relative;
        top:80px;
        height:100%;
    }

    #About_main #left{
        position: relative;
        display: flex;
        flex-direction: row;
        width:100%;
        height:60%;
        justify-content: left;
        margin-top: 2rem;
    }

    #About_main #left h1{
        font-size: 2.4rem;
    }

}

@media screen and (max-width:780px){
    #About_main #left h1{
        font-size: 2rem;
    }
}

@media screen and (max-width:500px){
    #About_main #left h1{
        font-size: 2rem;
    }
}

@media screen and (max-width:440px){
    #About_main #left h1{
        font-size: 1.6rem;
    }
}

