*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main:#F4B400;
    --secondry:#111111;
    --text:#050100;
    --secondry-text:#fff;
}

.chat-screen{
    display: flex;
    flex-direction: row;
    width:100%;
    height:calc(100vh - 70px);
}

.user-screen{
    width:70%;
    height:calc(100vh - 70px);
    border:1px solid red;
}

.chat-box{
    width:30%;
    height:calc(100vh - 70px);
    border:1px solid blue;
    overflow: auto;
}

.video-footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    width:70%;
    bottom:0;
    left:0;
    height:8rem;
    border: 1px solid red;
}

.details{
    position: relative;
    top:0;
    left:0;
    padding:2rem;
}

.btn-grp{
    display: flex;
    align-items: center;
    padding:0 2rem;
    width:70%;
    position: fixed;
    right: 0;
    bottom:0;
    height:8rem;
    text-align: right;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    font-size: 1.8rem;
    color: var(--secondry-text);
    border-color: 0;
    border-radius: 50%;
    border:0;
    cursor: pointer;
    z-index: 1;
    margin:0 0.5rem;
}

.end-btn{
    background-color: #ed2918;
}

.user-btn,
.msg-btn{
    background-color: #6b6767;
}

button:hover{
    opacity: 0.9;
}

.chat-bottom{
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
    right:0;
    width:30%;
    height:8rem;
    border:2px solid green;
}

button.active{
    background-color: #ed2918;
}

.chat-body{
    position: fixed;
    top:64px;
    right:0;
    height:calc(100vh - 64px - 8rem);
    width:30%;
    border:1px solid black;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-base-color: transparent;
    scrollbar-arrow-color: transparent;

}

.video-screen span{
    position:relative;
    top:10px;
    left:10px;
}

.video-player{
    width: 500px;
    height: 300px;
    background-color: black;
}

.username{
    color: white;
    font-size: 20px;
}