*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main:#F4B400;
    --secondry:#111111;
    --text:#050100;
    --secondry-text:#fff;
}

.message-box{
    display: flex;
    flex-direction: column;
    padding:1rem;
    text-align: justify;
    border-radius: 1rem;
    margin:1rem 0;
}

.recived-msg{
    background-color: #f8ed62;
    margin:1rem 1rem 1rem 0;
}

.sent-msg{
    background-color: #fff9ae;
    margin:1rem 0 1rem 1rem;
}

.message-box .name{
    text-align:left;
}

.message-box .time{
    text-align:right;
}