@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poppins:ital,wght@0,300;0,600;1,100&family=Titillium+Web:wght@300;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main:#F4B400;
    --secondry:#F2DA8D;
    --text:#050100;
    --secondry-text:#fff;
  }



  .navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    background-color:var(--text);
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 60%;
}

.navbar-header i{
    display: block;
    color: var(--secondry-text);
}

.navlinks{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.navlinks li{
    list-style: none;
}

.navlinks li a{
    text-decoration: none;
    color: var(--secondry-text);
    font-size: 1.2rem;
}

.navlinks li a:hover{
    color: var(--main);
}

.logo a{
    text-decoration: none;
    color: var(--secondry-text);
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1rem;
}

.logo a span{
    color: var(--main);
    font-size: 2.2rem;
}

#btns{
    margin-right: 1rem;
}

#btns #create-btn,
#btns #Join-btn{
    display: inline-block;
    width:9rem;
    height:2.5rem;
    background-color:var(--main);
    color: var(--text);
    border-collapse: collapse;
    border:0;
    margin:5px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease linear;
}


#btns #create-btn a,
#btns #Join-btn a{
    text-decoration: none;
    color:var(--text);
}

#btns #create-btn:hover,
#btns #Join-btn:hover{
    opacity: 0.9;
}

.nav-btn{
    padding:5px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    outline:none;
    color:var(--secondry-text);
    display: none;
}



@media screen and (max-width:1085px){

    html{
       font-size: 95%; 
    }

    .nav-btn{
        display:inline-block;
        font-size: 1.8rem;
    }

    .nav-items{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        display: none;
        height: 0;
        align-items: center;
        justify-content: center;
        gap:1.5rem;
        background-color: var(--text);
        transition: 1s;
        flex-direction: column;
    }

    .nav-btn{
        display: flex;
    }

    .navbar-header ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-header #btns{
        display: flex;
        flex-direction: column;
    }

    .nav-items.responsive_nav{
        display: flex;
        height: 100%;
        transition: 2s ease linear;
    }

    .navbar-header .nav-btn{
        display: flex;
        position: absolute;
        top:1.5rem;
        right:1.5rem;
        transition: 2s ease linear;
    }

    .navbar-header a{
        font-size: 1.5rem;
    }

    .navbar-header .logo{
        position: relative;
        top:0.5rem;
        left:0.5rem;
        z-index: 1;
    }
}

@media screen and (max-width:580px){

}


